$black: #000;
$white: #fff;

$gray-dark: #252b42;
$gray-primary: #737373;
$gray-secondary: #868686;

$violet-light: #dcdefe;
$violet-primary: #5956e9;

$gradient: linear-gradient(
  72.77deg,
  #edeef6 11.72%,
  rgba(237, 238, 246, 0) 98.52%
);
